<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd"
       default-lazy-init="false">

<!-- Redis 连接池配置 -->
    <bean id="jedisPoolConfig" class="redis.clients.jedis.JedisPoolConfig">
        <property name="minIdle" value="5"/>
        <property name="maxIdle" value="10"/>
        <property name="maxTotal" value="20"/>
        <property name="testOnBorrow" value="true"/>
    </bean>

    <!-- spring data redis JedisConnectionFactory-->
    <bean id="redisSentinelConfiguration" class="org.springframework.data.redis.connection.RedisSentinelConfiguration">
        <property name="master">
            <bean class="org.springframework.data.redis.connection.RedisNode">
                <property name="name" value="cache"></property>
            </bean>
        </property>
        <property name="sentinels">
            <set>
                <bean class="org.springframework.data.redis.connection.RedisNode">
                    <constructor-arg index="0" value="10.0.21.58"/>
                    <constructor-arg index="1" value="26379"/>
                </bean>
                <bean class="org.springframework.data.redis.connection.RedisNode">
                    <constructor-arg index="0" value="10.0.21.59"/>
                    <constructor-arg index="1" value="26379"/>
                </bean>
                <bean class="org.springframework.data.redis.connection.RedisNode">
                    <constructor-arg index="0" value="10.0.21.60"/>
                    <constructor-arg index="1" value="26379"/>
                </bean>
            </set>
        </property>
    </bean>

    <!-- Redis 数据源配置 -->
    <bean id="connectionFactory" class="org.springframework.data.redis.connection.jedis.JedisConnectionFactory">
        <!-- redis sentinel配置 -->
        <constructor-arg ref="redisSentinelConfiguration"/>
        <!-- jedis 连接池配置 -->
        <constructor-arg ref="jedisPoolConfig" />
    </bean>

    <!-- Redis 调用客户端配置 -->
    <bean id="redisTemplate" class="org.springframework.data.redis.core.StringRedisTemplate">
        <property name="connectionFactory" 	ref="connectionFactory" />
    </bean>

</beans>
